@use 'header.css';

body {
    background-color: #151862;

    main {
        position: relative;
        top: 100px;
        background-color: lightblue;
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 70%;
        margin: auto;
        padding: 10px;
        border-radius: 12px;
        box-shadow: 2px 2px 10px #0000007c;
        z-index: 1;
        
        .voltar {
            display: flex;
            width: 90px;
            height: 40px;
            padding: 13px 8px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            flex-shrink: 0;
            border-radius: 12px;
            border: 1px solid #f5f5f57c;
            background: #46AADD;
            text-decoration: none;
            color: white;
            font-family: 'Poppins', sans-serif;
        }
        table {
            border-collapse: collapse;
            font-family: 'Poppins', sans-serif;
            width: 100%;
            color: #0A0B2B;

            td, th {
                border: 2px solid #0A0B2B98;
                padding: 5px;
                height: 50px;
                text-align: center;
            }

            
            button{
                display: flex;
                width: 100%;
                height: 40px;
                padding: 13px 8px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                flex-shrink: 0;
                border-radius: 12px;
                border: 1px solid #f5f5f57c;
                background: #46AADD;
                text-decoration: none;
                color: white;
                font-size: 15px;
                font-family: 'Poppins', sans-serif;



                .delete-img {
                    width: 19px;

                    
                }
            }
        }

        .total {
            display: flex;
            align-self: flex-end;
            background-color: #2B2698;
            padding: 10px;
            font-family: 'Poppins', sans-serif;
            color: white;
            border-radius: 10px;
        }
    }
}
